boto3==1.4.7
django==1.11.4
django-bmemcached==0.2.3
django-dotenv==1.4.1
django-filter==1.0.4
django-flat-responsive==1.4.1
django-storages==1.6.5
django-uwsgi==0.2.1
djzen==17.7.1
graphene-django==2.0.dev2017073101
Pillow==4.2.1
pip-save==0.2.0
python-binary-memcached==0.26.1
raven==6.1.0
stripe==1.66.0
uwsgi==2.0.15
whitenoise==3.3.0
zappa-django-utils==0.3.0
-e git+git://github.com/pizzapanther/Django-Conference.git@161bf91e801c0f2e0205c8211491f7a6e47e585d#egg=conference
